
/* shipping Info */

.shipping{
   background: #FFFFFF;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   padding: 50px;
}
.shipping_title{
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #616161;
}

.shipping_div{
   display: flex;
   align-items: center;
   justify-content:space-between;
}

.address_detail{
   display: flex;
}
.address{
   max-width: 320px;
   padding: 15px;
   background: #FFFFFF;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px; 
}

.existing_address{
   display: flex;
   justify-content: space-between;
}
.address_name{
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 18px;
   color: #616161;
   flex: none;
   order: 0;
   flex-grow: 0;
   margin: 7px 0px;
}
.address_number{
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   color: #616161;
   flex: none;
   order: 1;
   flex-grow: 0;
   margin: 7px 0px;
}

.address_address{

   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 18px;
   display: flex;
   align-items: center;
   color: #081F32;
}

.edit{
   display: flex;
   align-items: space-between;
   justify-content: center;
   flex-direction: column;
}
.edit_btn{
   display: flex;
   flex: 1;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   color: #A5ADBB;
   outline-style: none;
   border-style: none;
   background: transparent;
   margin-top:8px;
}
.edit_btn img{
   width:15px;
   height:15px;
   margin-left:5px;
}


/* round checkbox */
.container {
   margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content:flex-end;
}
 /* Hide the browser's default checkbox */
 .container input {
   position: absolute;
   opacity: 0;
   height: 0;
   width: 0;
 }
 
.checkmark {
   height: 19px;
   width: 19px;
   border:1px solid #ccc;
   border-radius: 50% ;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 /* On mouse-over, add a grey background color */
 .container:hover input ~ .checkmark {
   background-color: #eee;
   border-radius: 50% ;
   cursor: pointer;
 }
.container input:checked ~ .checkmark {
   background: #23A6F0;
   border-radius: 4px solid  #c4c2c2;
   border-radius: 50% ;
 }
 
 /* Create the checkmark/indicator (hidden when not checked) */
 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 /* Show the checkmark when checked */
 .container input:checked ~ .checkmark:after {
   display: block;
 }
 
 /* Style the checkmark/indicator */
 .container .checkmark:after {
   width: 5px;
   height: 9px;
   border: solid white;
   border-width: 0 2.5px 2.5px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
   margin-top: -3px;
 }



 /* add address button */
 .add{
   width: 141px;
   height: 136px;
   background: #FFFFFF;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   outline-style: none;
   border-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 15px;
   color: #23A6F0;
   flex-direction: column;
 }
 .add img{
     height:30px;
     width: 30px;
     margin-bottom: 10px;
 }




/* Billing Information */

.billing_summery{
   background: #FFFFFF;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
}
.billing_title{
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #616161;
}
.promo_title{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 15px;
   color: #081F32;
   margin-top: 10px;
}
.promo_items{
   display: flex;  
   width: 100%;
   margin-top: 10px;  
}
.promo_input {
   width: 100%;
}
.promo_input input{
   height: 35px;
   background: #FFFFFF;
   border: 1px solid #DCDCDC;
   box-sizing: border-box;
   border-radius: 5px;
   width: 100%;
   padding-left:10px;
   padding-right:10px;
   outline-style: none;
   font-size:14px;
}
.valid_promo{
   font-style: normal;
   font-weight: 300;
   font-size: 15px;
   line-height: 12px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #616161;
   margin-top: 10px;
   padding-bottom: 10px;
}
.apply_btn{
   padding-left: 15px;  
   margin-top:4px;
   align-items: center;
   justify-content: center;
}
.apply_btn button{
   background: #23A6F0;
   border-radius: 5px;
   display: block;
   height: 35px;
   border: none; 
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 15px;
   color: #FFFFFF; 
   padding-left: 20px;
   padding-right: 20px;
}
.coupon_items{
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 15px;
   color: #081F32;
   margin-top: 10px;
}
.cupon_title{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   color: #081F32;
}
.cupon_title{
   font-style: normal;
   font-weight: normal;
   font-size: 15px;
   line-height: 15px;
   color: #081F32;
   margin-top:10px;
}
.cupon_value{
   font-style: normal;
   font-weight: bold;
   font-size: 15px;
   line-height: 15px;
   color: #081F32;
   margin-top: 10px;
}
.total_payment{
   font-style: normal;
   font-weight: 500;
   font-size: 17px;
   line-height: 17px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #616161;
}
.total_amount{
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
   line-height: 15px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #081F32;
}
.confirm_order_btn{
   height: 45px;
   display: block;
   width: 100%;
   background: #23A6F0;
   border-radius: 5px;
   font-style: normal;
   font-weight: 600;
   font-size: 17px;
   line-height: 17px;
   color: #FFFFFF;
   border: none;
}

/* Shipping Address */

.image_btn{
   display: flex;
   justify-content:flex-end;
   padding-top: 20px;
   padding-right: 10px;
}
.image_btn button{
   outline-style: none;
   border-style: none;
   background: transparent;
}
.image img{
   height: 10px;
   width: 10px;
   margin-top: -5px;
   margin-right: 5px;
}
.shipping_info {
   text-align: center;
   font-style: normal;
   font-weight: 600;
   font-size: 18px;
   line-height: 22px;
   color: #081F32;   
}
.customer_name{
   width: 100%;
   display: flex;
   padding-top: 20px;
}
.first_input{
   flex: 50%; 
}
.last_input{
   flex: 50%; 
   margin-left: 65px;
}
.first_input input{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   height: 45px;
   padding-left: 15px;
   padding-right: 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   outline-style: none;
   width: 100%;
}
.last_input input{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   height: 45px;
   padding-left: 15px;
   padding-right: 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   outline-style: none;
   width: 100%;
}

.option{
   font-size:14px;
}

.city_name{
   display: flex;
   padding-top: 20px;
   width: 100%;
}
.city{
  flex: 50%;
  font-size: 13px;
}
.area{
   flex: 50%; 
   margin-left: 65px;
   font-size: 13px;
}
.city select{
   height: 45px;
   padding: 0 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   width: 100%;  
}
.area select{
   height: 45px;
   padding: 0 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   width: 100%;
}
.info{
   padding-top: 20px;
}
.info input{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   height: 45px;
   padding: 0 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   width: 100%;
   outline-style: none;
}

.add_btn{
   padding: 45px 45px 45px 45px;
   float: right;
   margin-left: 20px;

}
.add_btn button{
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   text-align: center;
   color: #FFFFFF;
   background: #23A6F0;
   border-radius: 5px;
   border: none;
   height: 45px;
   width: 130px;
}

/* Contact Information */

.contactinfo{
   background: #FFFFFF;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   padding:5px;
}
.information{
   margin: 25px;
}

.contact_title{
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   color: #616161;
}
.contact_details{
   display: flex;
   width: 100% ;
   margin-top: 20px;
}
.contact_number{
   flex: 50%;
   margin-top:5px;
}
.email_address{
   flex: 50%;
   margin-left: 25px;
   margin-top:5px;

}
.contact{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 17px;
   color: #616161;
   padding-bottom: 20px;

}
.contact_number input{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 15px;
   height: 45px;
   padding-left: 15px;
   padding-right: 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   outline-style: none;
   width: 100%;
}

.email_address input{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 15px;
   height: 45px;
   padding-left: 15px;
   padding-right: 15px;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   outline-style: none;
   width: 100%;
}


/* Payment Method */

.payment_info{
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   padding: 15px;

}

.method_title{
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 22px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #616161;
}

.cash_one{
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   display: flex;
   padding: 10px;
   height: 60px;
   width: 100%;
   margin-top: 15px;
   align-items: center;
   cursor: pointer;
}

.cash_one:hover{
   background: #E8F0FD;
   border: 1px solid #23A6F0;
}
.visited{
   background: #E8F0FD;
   border: 1px solid #23A6F0;
}
.cash_two{
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   display: flex;
   padding: 10px;
   height: 50px;
   width: 100%;
   margin-top: 15px;
   align-items: center;
   cursor: pointer;
}
.cash_two:hover{
   background: #E8F0FD;
   border: 1px solid #23A6F0;
}
.debit{
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   line-height: 17px;
   color: #23A6F0;
}

.time{
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 15px;
   display: flex;
   align-items: center;
   text-align: center;
   color: #737373;
}
.method{
   height:30px;
   width:45px;
}
.cash_on{
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #081F32;
   padding-left: 15px;
}
.cash_on:hover{
   color: #23A6F0;
}
.cash_on_visited{
   color: #23A6F0;
}

/* Order Review */

.order_review{
   display: flex;
   justify-content: space-between;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
}
.order_review_title {
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   color: #535353;
   margin:20px
}

.order_review_btn img{
   width: 15px;
   height: 10px;
   margin: 20px ;
}
.order_review_image button{
   outline-style: none;
   border-style: none;
   background: transparent;  
}

/* Order list */

.order_info{
   background: #FFFFFF;
   border: 1px solid #CACDD8;
   box-sizing: border-box;
   border-radius: 5px;
   padding: 20px;
}
.order_list{
   display: flex;
   width: 100%;
   border-bottom: 1px solid #CACDD8;
   padding:10px;
   
}
.order_image{
   flex: 40%;
  display: flex;
  justify-content: flex-start;
}
.order_image img{
   height: 80px;
   width: 80px;
}
.order_item{
   flex: 60%;
   margin-left: 10px;
}

.order_item_name{
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 17px;
   letter-spacing: 0.01em;
   color: #081F32;

}
.order_item_pcs{
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 18px;
   color: #a5a1a1;
   margin-top:5px;
}
.order_item_price{
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 20px;
   color: #081F32;
   margin-top: 5px;
}

/* Shipping info modal */

.address_modal{
   border-radius: 5px;
   border: 1px solid #CACDD8;
   background:#FFFFFF;
   margin-top: 300px;
}
.address_modal_blur{
   position: fixed;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background:rgba(5, 5, 5,.3);
   z-index: 11;
   display: flex;
   align-items: center;
   justify-content: center;

}


/* Responsive */

@media(max-width: 991px) {
   .contact_details{
      flex-direction: column;
   }
   .contact_number{
      width: 100%;
   }
   .email_address{
      margin-left: 0px;
      margin-top: 25px;
   }
   .order_review{
      margin-top: 40px;
   }
}

@media (max-width: 767px) {
   .shipping_div{
      flex-direction: column;
      align-items: flex-start;
   }
   .add{
      margin-top:40px;
   }

   .method{
   height:25px;
   width:35px;
  }
  .debit{
     font-size:10px
  }
  .time{
   font-size:10px
}

/* shipping address */

.city_name{
   flex-direction:column;
   
}
.city{
  width:100%
}
.area{
   width:100%;
   margin-left:0;
   margin-top: 20px;
}

.customer_name{
   flex-direction: column;
  
}
.first_input{
   width:100%;
    
}
.last_input{
   width:100%;   
   margin-left:0px;
   margin-top: 20px;
}


   
}
@media (max-width:460px) { 
   .customer_name{
       display: flex;  
       flex-direction: column;
       height: 100px;
   }
   .last_input{
      margin-left: 0;
      margin-top: 20px;
   }
   .city_name{
      display: flex;  
      flex-direction: column;   
      margin-top: 30px;
   }
   .area{
      margin-left: 0;
      margin-top: 20px;
   }
  
   .order_list{
      display: flex;  
      flex-direction: column;
      
   }
   .order_item{
      margin-top: 15px;
   }
   .area{
      margin-left: 0;
      margin-top: 20px;
   }
   .payment_methods{
      display: flex;  
      flex-direction: column;
      height: 120px;
   }
   .images{
      margin-left: -45px;
      
   }
   

}

@media(max-width: 360px) {
   .debit{
      font-size: 9px;
   }
   
   .time{
      font-size:7px;
     
   }

   .method{
      height:15px;
      width:25px;
     }
   
}






